@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'icomoon';
  src: url('assets/fonts/icomoon.eot?uzp88i');
  src: url('assets/fonts/icomoon.eot?uzp88i#iefix') format('embedded-opentype'),
    url('assets/fonts/icomoon.ttf?uzp88i') format('truetype'),
    url('assets/fonts/icomoon.woff?uzp88i') format('woff'),
    url('assets/fonts/icomoon.svg?uzp88i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e900";
}

.icon-done:before {
  content: "\e901";
}

.icon-calendar:before {
  content: "\e902";
}

.icon-more:before {
  content: "\e903";
}

.icon-home:before {
  content: "\e904";
}

.icon-open:before {
  content: "\e905";
}

.icon-search:before {
  content: "\e906";
}


:root {}

body {
  @apply text-default;
  position: static;
}

body.is-fixed {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}


@layer components {

  /*common */
  .inner {
    @apply mx-auto w-full;
    max-width: 1080px;
  }

  /* header  */
  .l-header {
    @apply bg-primary py-2.5 px-4
  }

  .l-header__top {
    @apply text-center pt-[60px];
  }

  /* footer */
  .l-footer {
    @apply bg-[#F8F8F8];
  }

  .footer-bottom {
    @apply bg-[#3B3B3B] py-5 px-4 text-white;
  }

  .footer-navi {
    @apply bg-[#3B3B3B] flex;
  }

  .footer-navi>li {
    @apply flex w-full;
  }

  .footer-navi>li:first-child {
    @apply relative;
  }

  .footer-navi>li:first-child::before {
    content: "";
    width: 1px;
    height: calc(100% - 8px);
    background: #fff;
    position: absolute;
    top: 4px;
    right: 0;
  }

  .footer-navi>li a {
    @apply flex items-center justify-center p-1 text-white;
    width: 100%;
  }

  .footer-navi__items span {
    @apply text-center;
    display: block;
  }
}

/* title */
.page-title {
  @apply text-[28px] font-bold mt-10 pb-[30px] px-4 relative;
}

.page-title::before {
  content: "";
  width: 100%;
  height: 10px;
  background: rgb(7, 188, 167);
  background: linear-gradient(60deg, rgba(7, 188, 167, 1) 61%, rgba(183, 255, 171, 1) 100%);
  position: absolute;
  bottom: 0;
  right: 0;
}

.section-title {
  @apply text-[18px] font-medium pb-2.5 mb-5 border-[#D9D9D9] border-b-[4px];
}

.section-title.-primary {
  @apply border-primary;
}

.section-title:nth-of-type(n+2) {
  @apply mt-10;
}

.top-heading {
  @apply text-white font-bold text-lg p-4;
  background: rgb(7, 188, 167);
  background: linear-gradient(60deg, rgba(7, 188, 167, 1) 61%, rgba(183, 255, 171, 1) 100%);
}


/* link */
a:not([class])[target=_blank] {
  @apply underline;
}

a:not([class])[target=_blank]::after {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e905";
}

/* list  */
.indent-list>li {
  text-indent: -1em;
  padding-left: 1em;
}

.indent-list>li+li {
  margin-top: 10px;
}

/* loading  */
.loading {
  @apply fixed w-full h-full bg-white/70 top-0 right-0 flex items-center justify-center;
  z-index: 101;
  transition: visibility .3s, opacity .3s, z-index .3s;
}

.loading img {
  width: 100px;
}

.loading.is-loaded {
  z-index: -1;
  visibility: hidden;
  opacity: 0;

}

/* modal  */
.modal {
  @apply fixed w-full h-full bg-white top-0 left-0 opacity-0;
  visibility: hidden;
  z-index: 100;
  transition: visibility .3s, opacity .3s, z-index .3s;
}

.modal.is-active {
  opacity: 1;
  visibility: visible;
}

/* button  */
.button {
  @apply text-white font-bold bg-primary rounded-md w-full max-w-[600px] mx-auto py-[18px] px-2.5 no-underline text-center cursor-pointer;
}

.button-sm {
  @apply inline-block border bg-white border border-black rounded-full py-2.5 px-[28px] cursor-pointer;
}

.button-sm.-primary {
  @apply border-primary text-primary;
}

/* input  */
.c-checkbox:checked+label .icon-done {
  @apply text-primary;
}

.result {
  visibility: hidden;
  opacity: 0;
  height: 0;
  margin: 0;
}

.result.is-show {
  visibility: visible;
  opacity: 1;
  height: auto;
  margin-top: 100px;
}
